h1 = "#{character["Name"]}"
p = "Class: #{character["Class"]}"
p = "Subclass: #{character["Subclass"]}"
p = "Race: #{character["Race"]}"
p = "Subrace: #{character["Subrace"]}"
p = "Background: #{character["Background"]}"

a href="/home" Back